@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Play:400,700");

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  background-size: contain;
  font-size: 16px;
  color: #444;
}

a:active,
a:focus,
input,
textarea,
textarea:active,
input:active,
input:focus,
button:active,
button:focus,
img,
select,
label {
  outline: none;
}

a {
  color: #2B5E5E;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

a:hover {
  text-decoration: underline;
}

button::-moz-focus-inner {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto !important;
  vertical-align: top;
}

svg {
  max-height: 24px;
}

input:-webkit-autofill,
label:-webkit-autofill,
span:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.wrap-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  margin-top: 60px;
}

.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.clip-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 25% 100%);
          clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 25% 100%);
}

.clip-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.dark {
  background: #444;
}

.mt {
  margin-top: 2rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(68, 68, 68, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(68, 68, 68, 0.2);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  height: 60px;
}

.header__logo {
  height: 40px;
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.header__title {
  font-weight: bold;
}

.header__cta {
  color: #444;
  font-weight: bold;
  padding: 1rem 2rem;
  background: #d6d011;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__cta:hover {
  background: #EEE82C;
  -webkit-box-shadow: 0 0 0.5rem #EEE82C;
          box-shadow: 0 0 0.5rem #EEE82C;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu__item a {
  color: #fff;
}

.header-menu__item a:hover {
  color: #EEE82C;
  text-decoration: none;
}

.header-menu__item:not(:last-child) {
  margin-right: 2rem;
}

.logotype {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.title {
  font-weight: bold;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
}

.title--white {
  color: #fff;
}

.title--big {
  font-size: 32px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 120px;
  position: relative;
}

.section--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section--dark {
  background: #2B5E5E;
  position: relative;
}

.section--overlay::before {
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(43, 94, 94, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.sc-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}

.column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__title {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .wrap {
    padding: 1rem;
  }

  .main {
    margin-top: 0;
  }

  header {
    display: none !important;
  }

  .logotype {
    padding: 1rem;
  }

  .title {
    font-size: 18px;
    padding: 1rem;
    text-align: center;
  }

  .title--big {
    font-size: 24px;
  }

  .column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }

  p {
    padding: 1rem;
    text-align: center;
  }

  .section-img {
    -webkit-clip-path: none;
            clip-path: none;
  }
}