$green: #2B5E5E
$yellow: #EEE82C
$black: #111
$dark: #444
$gray: #333
$white: #fff
$wrap: 1200
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Play:400,700')

*
	box-sizing: border-box

html
	font-size: 10px
	font-family: 'Montserrat', sans-serif
	font-weight: 500

body
	margin: 0
	padding: 0
	background-size: contain
	font-size: 16px
	color: $dark

a:active, a:focus, input, textarea, textarea:active, input:active, input:focus, button:active, button:focus, img, select, label
	outline: none

a
	color: $green
	text-decoration: none
	transition: .5s
	&:hover
		text-decoration: underline

button::-moz-focus-inner
	border: 0

h1,h2,h3,h4,h5,h6
	margin: 0
	padding: 0

img
	max-width: 100%
	max-height: 100%
	height: auto
	width:  auto !important
	vertical-align: top

svg
	max-height: 24px

input, label, span
	&:-webkit-autofill
		-webkit-animation-name: autofill
		-webkit-animation-fill-mode: both

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button
	-webkit-appearance: none
input[type='number']
	-moz-appearance: textfield

.wrap-full
	display: flex
	width: 100%
	margin: 0 auto
	padding: 0

.wrap
	display: flex
	flex-wrap: wrap
	width: 100%
	max-width: $wrap+px
	margin-right: auto
	margin-left: auto
	@media screen and ( max-width: 500px )
		padding: 1rem

.main
	margin-top: 60px
	@media screen and ( max-width: 500px )
		margin-top: 0

.right
	justify-content: flex-end
	text-align: right
	align-items: flex-end !important

.clip-right
	align-items: flex-end
	clip-path: polygon(13% 0%,100% 0%,100% 100%,25% 100%)
.clip-left
	align-items: flex-start
	clip-path: polygon(0% 0%,100% 0%,85% 100%,0% 100%)

.dark
	background: $dark

.mt
	margin-top: 2rem

header
	position: fixed
	top: 0
	z-index: 10
	box-shadow: 0 .5rem 1rem rgba($dark,.2)
	@media screen and ( max-width: 500px )
		display: none !important
.header
	display: flex
	align-items: center
	justify-content: space-between
	color: $white
	height: 60px
	&__logo
		height: 40px
		filter: brightness(10)
	&__title
		font-weight: bold
	&__cta
		color: $dark
		font-weight: bold
		padding: 1rem 2rem
		background: darken($yellow,10)
		border-radius: 0.5rem
		cursor: pointer
		transition: 0.5s
		&:hover
			background: $yellow
			box-shadow: 0 0 .5rem $yellow

.header-menu
	display: flex
	list-style: none
	padding: 0
	margin: 0
	&__item
		a
			color: $white
			&:hover
				color: $yellow
				text-decoration: none
		&:not(:last-child)
			margin-right: 2rem

.logotype
	display: flex !important
	@media screen and ( max-width: 500px )
		padding: 1rem
		
.title
	font-weight: bold
	font-size: 24px
	display: flex
	align-items: center
	z-index: 9
	@media screen and ( max-width: 500px )
		font-size: 18px
		padding: 1rem
		text-align: center
	&--white
		color: $white
	&--big
		font-size: 32px
		@media screen and ( max-width: 500px )
			font-size: 24px
.section
	display: flex
	flex-wrap: wrap
	min-height: 120px
	position: relative
	&--center
		justify-content: center
		text-align: center
	&--dark
		background: $green
		position: relative
	&--overlay
		&::before
			width: 100%
			height: 100%
			content: ''
			background: rgba($green,.7)
			position: absolute
			top: 0
			left: 0

.sc-bg
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed
	height: 400px

.column
	flex-basis: 50%
	display: flex
	justify-content: center
	flex-direction: column
	@media screen and ( max-width: 500px )
		flex-basis: 100%
		align-items: center !important

.footer
	background: $dark
	display: flex
	align-items: center
	color: $white
	height: 60px
	justify-content: center
	&__title
		font-weight: bold
@media screen and ( max-width: 500px )
	p
		padding: 1rem
		text-align: center
	.section-img
		clip-path: none